# Problem 4 (optional)

This is an optional task for more advanced students. 

## What to do

1. Start by downloading your own data (daily summaries for years **1959-2018 August**) for **Sodankyla Lokka** (notice the place name should be without `ä` letter), from the [NOAA Climate Data Online Search](https://www.ncdc.noaa.gov/cdo-web/search?datasetid=GHCND). Make sure to click on starting day (and ending day) in the date selection panel after changing year! After you have searched, click “Add to cart” for a selected station, then go to cart. Select the ``Custom GHCN-Daily Text`` format for the resulting output file and hit continue.

    - From the `Station Detail & Data Flag Options` choose two of the following attributes: Station Name, Geographic Location. **Notice:** Do **NOT** include data flags because it makes the data difficult to read. Use **Standard** units.
    - Take also Precipitation and Temperature which are under a separate button below. 
    - From the next page, add your own email address where the weather data will be sent after a short moment.

2. After you have downloaded the data. you should first,

    - Calculate the average temperature using columns `TMAX` and `TMIN` and insert those values into a new column called `TAVG`.

3. Next, you should use the approaches learned during this week and used in Problem 3 to answer / do the following:

    - Calculate the temperature anomalies in Sodankyla, i.e. the difference between `reference_temps` and the average temperature for each month (see Problem 3).
    - Calculate the monthly temperature differences between Sodankyla and Helsinki stations
        - How different are the summer temperatures (June, July, August) between Helsinki (used in Problems 1-3) and Sodankyla station?
        - What were the summer mean temperatures for both of these stations?
        - What were the summer standard deviations for both of these stations?
    - Calculate the monthly differences in a DataFrame and save it (as `CSV` file) into your own Exercise repository for this week
4. Upload your script and data to GitHub

In [1]:
import pandas as pd

In [37]:
fp = 'data/sodlokka.txt'
sodlokka = pd.read_csv(fp, sep='\s+', skiprows=[1], na_values=-9999)

In [39]:
sodlokka.head()

                            STATION STATION_NAME  ELEVATION  LATITUDE  \
GHCND:FIE00146538 SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206

                             LONGITUDE      DATE  PRCP  TMAX  TMIN
GHCND:FIE00146538 SODANKYLA    27.7503  19590101  0.03   NaN   9.0
                  SODANKYLA    27.7503  19590102  0.00   NaN   6.0
                  SODANKYLA    27.7503  19590103  0.02   NaN  -9.0
                  SODANKYLA    27.7503  19590104  0.08   NaN  10.0
                  SODANKYLA    27.7503  19590105  0.09   NaN  13.0

NameError: name 'NaN' is not defined

In [58]:
sodlokka['TAVG'] = (sodlokka['TMAX'] + sodlokka['TMIN']) / 2

In [60]:
sodlokka.tail(10)

                            STATION STATION_NAME  ELEVATION  LATITUDE  \
GHCND:FIE00146538 SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206

                             LONGITUDE      DATE  PRCP  TMAX  TMIN  TAVG
GHCND:FIE00146538 SODANKYLA    27.7503  20180822  0.05  60.0  31.0  45.5
                  SODANKYLA    27.7503  20180823  0.02  53.0  39.0  46.0
                  SODANKYLA    27.7503  20180824  0.42  61.0  33.0  47.0
                  SODANKYLA    27.7503  20180825  0.09  63.0  49.0  56.0
                  SODANKYLA    27.7503  20180826  0.19  62.0  48.0  55.0
                  SODANKYLA    27.7503  20180827  0.04  55.0  43.0  49.0
                  SODANKYLA    27.7503  20180828  0.00  59.0  31.0  45.0
                  SODANKYLA    27.7503  20180829  0.00  65.0  32.0  48.5
                  SODANKYLA    27.7503  20180830  0.02  65.0  48.0  56.5
                  SODANKYLA    27.7503  20180831  0.00  59.0  46.0  52.5

In [63]:
def fahr_to_cel(temp_f):
    temp_c = 5/9 * (temp_f - 32)
    return temp_c

In [69]:
sodlokka['TEMP_C'] = sodlokka['TAVG'].apply(fahr_to_cel).round(2)

In [71]:
sodlokka.tail()

                            STATION STATION_NAME  ELEVATION  LATITUDE  \
GHCND:FIE00146538 SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206

                             LONGITUDE      DATE  PRCP  TMAX  TMIN  TAVG  \
GHCND:FIE00146538 SODANKYLA    27.7503  20180827  0.04  55.0  43.0  49.0
                  SODANKYLA    27.7503  20180828  0.00  59.0  31.0  45.0
                  SODANKYLA    27.7503  20180829  0.00  65.0  32.0  48.5
                  SODANKYLA    27.7503  20180830  0.02  65.0  48.0  56.5
                  SODANKYLA    27.7503  20180831  0.00  59.0  46.0  52.5

                             TEMP_C
GHCND:FIE00146538 SODANKYLA    9.44
                  SODANKYLA    7.22
                  SODANKYLA    9.17
                  SODANKYLA   13.61
                  SODANKYLA   11.39