# Problem 4 (optional)

This is an optional task for more advanced students. 

## What to do

1. Start by downloading your own data (daily summaries for years **1959-2018 August**) for **Sodankyla Lokka** (notice the place name should be without `ä` letter), from the [NOAA Climate Data Online Search](https://www.ncdc.noaa.gov/cdo-web/search?datasetid=GHCND). Make sure to click on starting day (and ending day) in the date selection panel after changing year! After you have searched, click “Add to cart” for a selected station, then go to cart. Select the ``Custom GHCN-Daily Text`` format for the resulting output file and hit continue.

    - From the `Station Detail & Data Flag Options` choose two of the following attributes: Station Name, Geographic Location. **Notice:** Do **NOT** include data flags because it makes the data difficult to read. Use **Standard** units.
    - Take also Precipitation and Temperature which are under a separate button below. 
    - From the next page, add your own email address where the weather data will be sent after a short moment.

2. After you have downloaded the data. you should first,

    - Calculate the average temperature using columns `TMAX` and `TMIN` and insert those values into a new column called `TAVG`.

3. Next, you should use the approaches learned during this week and used in Problem 3 to answer / do the following:

    - Calculate the temperature anomalies in Sodankyla, i.e. the difference between `reference_temps` and the average temperature for each month (see Problem 3).
    - Calculate the monthly temperature differences between Sodankyla and Helsinki stations
        - How different are the summer temperatures (June, July, August) between Helsinki (used in Problems 1-3) and Sodankyla station?
        - What were the summer mean temperatures for both of these stations?
        - What were the summer standard deviations for both of these stations?
    - Calculate the monthly differences in a DataFrame and save it (as `CSV` file) into your own Exercise repository for this week
4. Upload your script and data to GitHub

In [19]:
import pandas as pd

In [21]:
fp = 'data/sodlokka.csv'
sodlokka = pd.read_csv(fp, sep='\s+', skiprows=[1], na_values=-9999)

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
/var/folders/j3/1_g39gs501q6lwzqcx234sfm0000gn/T/ipykernel_57713/3152913978.py:2: SyntaxWarning: invalid escape sequence '\s'
  sodlokka = pd.read_csv(fp, sep='\s+', skiprows=[1], na_values=-9999)

In [23]:
sodlokka.head()

                            STATION STATION_NAME  ELEVATION  LATITUDE  \
GHCND:FIE00146538 SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206

                             LONGITUDE      DATE  PRCP  TMAX  TMIN
GHCND:FIE00146538 SODANKYLA    27.7503  19590101  0.03   NaN   9.0
                  SODANKYLA    27.7503  19590102  0.00   NaN   6.0
                  SODANKYLA    27.7503  19590103  0.02   NaN  -9.0
                  SODANKYLA    27.7503  19590104  0.08   NaN  10.0
                  SODANKYLA    27.7503  19590105  0.09   NaN  13.0

In [25]:
sodlokka['TAVG'] = (sodlokka['TMAX'] + sodlokka['TMIN']) / 2

In [27]:
sodlokka.tail(10)

                            STATION STATION_NAME  ELEVATION  LATITUDE  \
GHCND:FIE00146538 SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206

                             LONGITUDE      DATE  PRCP  TMAX  TMIN  TAVG
GHCND:FIE00146538 SODANKYLA    27.7503  20180822  0.05  60.0  31.0  45.5
                  SODANKYLA    27.7503  20180823  0.02  53.0  39.0  46.0
                  SODANKYLA    27.7503  20180824  0.42  61.0  33.0  47.0
                  SODANKYLA    27.7503  20180825  0.09  63.0  49.0  56.0
                  SODANKYLA    27.7503  20180826  0.19  62.0  48.0  55.0
                  SODANKYLA    27.7503  20180827  0.04  55.0  43.0  49.0
                  SODANKYLA    27.7503  20180828  0.00  59.0  31.0  45.0
                  SODANKYLA    27.7503  20180829  0.00  65.0  32.0  48.5
                  SODANKYLA    27.7503  20180830  0.02  65.0  48.0  56.5
                  SODANKYLA    27.7503  20180831  0.00  59.0  46.0  52.5

In [29]:
def fahr_to_cel(temp_f):
    temp_c = 5/9 * (temp_f - 32)
    return temp_c

In [31]:
sodlokka['TEMP_C'] = sodlokka['TAVG'].apply(fahr_to_cel).round(2)

In [33]:
sodlokka.tail()

                            STATION STATION_NAME  ELEVATION  LATITUDE  \
GHCND:FIE00146538 SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206
                  SODANKYLA   LOKKA           FI        240   67.8206

                             LONGITUDE      DATE  PRCP  TMAX  TMIN  TAVG  \
GHCND:FIE00146538 SODANKYLA    27.7503  20180827  0.04  55.0  43.0  49.0
                  SODANKYLA    27.7503  20180828  0.00  59.0  31.0  45.0
                  SODANKYLA    27.7503  20180829  0.00  65.0  32.0  48.5
                  SODANKYLA    27.7503  20180830  0.02  65.0  48.0  56.5
                  SODANKYLA    27.7503  20180831  0.00  59.0  46.0  52.5

                             TEMP_C
GHCND:FIE00146538 SODANKYLA    9.44
                  SODANKYLA    7.22
                  SODANKYLA    9.17
                  SODANKYLA   13.61
                  SODANKYLA   11.39

In [40]:
sodlokka = sodlokka[['STATION', 'STATION_NAME', 'DATE', 'PRCP', 'TMAX', 'TMIN', 'TEMP_C']]
sodlokka.tail()

                            STATION STATION_NAME      DATE  PRCP  TMAX  TMIN  \
GHCND:FIE00146538 SODANKYLA   LOKKA           FI  20180827  0.04  55.0  43.0
                  SODANKYLA   LOKKA           FI  20180828  0.00  59.0  31.0
                  SODANKYLA   LOKKA           FI  20180829  0.00  65.0  32.0
                  SODANKYLA   LOKKA           FI  20180830  0.02  65.0  48.0
                  SODANKYLA   LOKKA           FI  20180831  0.00  59.0  46.0

                             TEMP_C
GHCND:FIE00146538 SODANKYLA    9.44
                  SODANKYLA    7.22
                  SODANKYLA    9.17
                  SODANKYLA   13.61
                  SODANKYLA   11.39

In [45]:
sodlokka['DATE_STR'] = sodlokka['DATE'].astype(str)
sodlokka.tail()

                            STATION STATION_NAME      DATE  PRCP  TMAX  TMIN  \
GHCND:FIE00146538 SODANKYLA   LOKKA           FI  20180827  0.04  55.0  43.0
                  SODANKYLA   LOKKA           FI  20180828  0.00  59.0  31.0
                  SODANKYLA   LOKKA           FI  20180829  0.00  65.0  32.0
                  SODANKYLA   LOKKA           FI  20180830  0.02  65.0  48.0
                  SODANKYLA   LOKKA           FI  20180831  0.00  59.0  46.0

                             TEMP_C  DATE_STR
GHCND:FIE00146538 SODANKYLA    9.44  20180827
                  SODANKYLA    7.22  20180828
                  SODANKYLA    9.17  20180829
                  SODANKYLA   13.61  20180830
                  SODANKYLA   11.39  20180831

In [53]:
sodlokka.dtypes

STATION          object
STATION_NAME     object
DATE              int64
PRCP            float64
TMAX            float64
TMIN            float64
TEMP_C          float64
DATE_STR         object
dtype: object

In [59]:
sodlokka['MONTH'] = sodlokka['DATE_STR'].str.slice(start=4, stop=6).astype(int)

KeyError: 36

In [79]:
grouped = sodlokka.groupby(by=['MONTH'])

In [95]:
grouped.dtypes
reference_temps = grouped['TEMP_C'].mean()

/var/folders/j3/1_g39gs501q6lwzqcx234sfm0000gn/T/ipykernel_57713/3390611606.py:1: FutureWarning: DataFrameGroupBy.dtypes is deprecated and will be removed in a future version. Check the dtypes on the base object instead
  grouped.dtypes

In [97]:
reference_temps

MONTH
1    -14.682880
2    -14.127404
3     -9.549348
4     -3.118256
5      3.883856
6     10.388167
7     13.543868
8     10.975940
9      5.746526
10    -0.856893
11    -7.617076
12   -12.353497
Name: TEMP_C, dtype: float64

In [99]:
reference_temps.reset_index()

    MONTH     TEMP_C
0       1 -14.682880
1       2 -14.127404
2       3  -9.549348
3       4  -3.118256
4       5   3.883856
5       6  10.388167
6       7  13.543868
7       8  10.975940
8       9   5.746526
9      10  -0.856893
10     11  -7.617076
11     12 -12.353497

dtype('float64')

In [107]:
merged = pd.merge(sodlokka, reference_temps, on='MONTH')

In [109]:
merged

,STATION,STATION_NAME,DATE,PRCP,TMAX,TMIN,TEMP_C_x,DATE_STR,MONTH,TEMP_C_y
0,LOKKA,FI,19590101,0.03,NaN,9.0,NaN,19590101,1,-14.68288
1,LOKKA,FI,19590102,0.00,NaN,6.0,NaN,19590102,1,-14.68288
2,LOKKA,FI,19590103,0.02,NaN,-9.0,NaN,19590103,1,-14.68288
3,LOKKA,FI,19590104,0.08,NaN,10.0,NaN,19590104,1,-14.68288
4,LOKKA,FI,19590105,0.09,NaN,13.0,NaN,19590105,1,-14.68288
...,...,...,...,...,...,...,...,...,...,...
20907,LOKKA,FI,20180827,0.04,55.0,43.0,9.44,20180827,8,10.97594
20908,LOKKA,FI,20180828,0.00,59.0,31.0,7.22,20180828,8,10.97594
20909,LOKKA,FI,20180829,0.00,65.0,32.0,9.17,20180829,8,10.97594
20910,LOKKA,FI,20180830,0.02,65.0,48.0,13.61,20180830,8,10.97594
20911,LOKKA,FI,20180831,0.00,59.0,46.0,11.39,20180831,8,10.97594

In [137]:
merged.rename(columns={'TEMP_C_x': 'TEMP_C', 'TEMP_C_y': 'REFERENCE_TEMP'}, inplace=True)

In [139]:
print(merged)

      STATION STATION_NAME      DATE  PRCP  TMAX  TMIN  TEMP_C  DATE_STR  \
0       LOKKA           FI  19590101  0.03   NaN   9.0     NaN  19590101
1       LOKKA           FI  19590102  0.00   NaN   6.0     NaN  19590102
2       LOKKA           FI  19590103  0.02   NaN  -9.0     NaN  19590103
3       LOKKA           FI  19590104  0.08   NaN  10.0     NaN  19590104
4       LOKKA           FI  19590105  0.09   NaN  13.0     NaN  19590105
...       ...          ...       ...   ...   ...   ...     ...       ...
20907   LOKKA           FI  20180827  0.04  55.0  43.0    9.44  20180827
20908   LOKKA           FI  20180828  0.00  59.0  31.0    7.22  20180828
20909   LOKKA           FI  20180829  0.00  65.0  32.0    9.17  20180829
20910   LOKKA           FI  20180830  0.02  65.0  48.0   13.61  20180830
20911   LOKKA           FI  20180831  0.00  59.0  46.0   11.39  20180831

       MONTH  REFERENCE_TEMP
0          1       -14.68288
1          1       -14.68288
2          1       -14.68288
3          1       -14.68288
4          1       -14.68288
...      ...             ...
20907      8        10.97594
20908      8        10.97594
20909      8        10.97594
20910      8        10.97594
20911      8        10.97594

[20912 rows x 10 columns]

In [141]:
merged['DIFF'] = merged['TEMP_C'] - merged['REFERENCE_TEMP']

In [143]:
print(merged)

      STATION STATION_NAME      DATE  PRCP  TMAX  TMIN  TEMP_C  DATE_STR  \
0       LOKKA           FI  19590101  0.03   NaN   9.0     NaN  19590101
1       LOKKA           FI  19590102  0.00   NaN   6.0     NaN  19590102
2       LOKKA           FI  19590103  0.02   NaN  -9.0     NaN  19590103
3       LOKKA           FI  19590104  0.08   NaN  10.0     NaN  19590104
4       LOKKA           FI  19590105  0.09   NaN  13.0     NaN  19590105
...       ...          ...       ...   ...   ...   ...     ...       ...
20907   LOKKA           FI  20180827  0.04  55.0  43.0    9.44  20180827
20908   LOKKA           FI  20180828  0.00  59.0  31.0    7.22  20180828
20909   LOKKA           FI  20180829  0.00  65.0  32.0    9.17  20180829
20910   LOKKA           FI  20180830  0.02  65.0  48.0   13.61  20180830
20911   LOKKA           FI  20180831  0.00  59.0  46.0   11.39  20180831

       MONTH  REFERENCE_TEMP     DIFF
0          1       -14.68288      NaN
1          1       -14.68288      NaN
2          1       -14.68288      NaN
3          1       -14.68288      NaN
4          1       -14.68288      NaN
...      ...             ...      ...
20907      8        10.97594 -1.53594
20908      8        10.97594 -3.75594
20909      8        10.97594 -1.80594
20910      8        10.97594  2.63406
20911      8        10.97594  0.41406

[20912 rows x 11 columns]

In [149]:
print(merged['DIFF'].idxmax())

14835

In [151]:
print(merged[14835])

KeyError: 14835